<div class="col-md-12">
  <h2> Company Detail</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Name</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td class="hidden">{{company.id}}</td>
        <td>{{company.name}}</td>
        <td>{{company.active ? 'Active' : 'Inactive'}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCompany(company)">Delete Company</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
