<div>
  <h2>
    <span>Customers</span>
    <button class="btn btn-primary float-right">
      <span class="fa fa-plus"></span> <span>Create a new Customer</span>
    </button>
  </h2>
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span>ID</span></th>
          <th><span>Name</span></th>
          <th><span>Nit</span></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="customers">
        <tr *ngFor="let customer of customers">
          <td>{{customer.id}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.nit}}</td>
          <td>
            <div class="btn-group flex-btn-group-container">
              <button type="submit"
                class="btn btn-primary btn-sm">
                <span class="fa fa-pencil"></span>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit"
                class="btn btn-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
